<tr>
<th scope="row">{{ variable.id }}</th>
<td><a href="{{ path(var ~ '_read', {id:variable.id, page:1}) }}">{{ unique }}</a></td>
<td>
    <form action="{{ path(var ~ '_edit', {id:variable.id}) }}" method="POST">
    <input type="hidden" name="token" value="{{ csrf_token('add-edit-item') }}"/>
    <button class="btn btn-warning">Modifier</button>
    </form>
</td>
<td>
    <form action="{{ path(var ~ '_delete', {id:variable.id}) }}" onsubmit="return confirm('Supprimer {{ unique }} ?')" method="POST">
    <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>
    <input type="hidden" name="_method" value="DELETE"/>
    <button class="btn btn-danger">Supprimer</button>
    </form>
</td>
</tr>
